body{
	margin:0px;
	padding:0px;
	font-size:12px;
	line-height:30px;
	color:#ccc;
	font-family: "宋体"
}
ul,li,ol,h1,h2,h3,h4,h5,h6,dl,dd,p,input{
	list-style:none;
	margin:0px;
	padding:0px;
}
a{
	color:#ccc;
	text-decoration:none;
	cursor:pointer;
}
a:hover{
	color:#7B694E;
}
img{
	border:0px;
}
.all{
	width:960px;
	height:66px;
	margin:0px auto;
	clear:both;
	float:none;
}